<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="../../assets/banner.png" alt=""/>
  </ion-card>
  <ion-card style="color: black;">
    <ion-card-header>
      <ion-card-title>Newest projects:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="projects.length === 0"></ion-spinner>
      <ion-slides *ngIf="projects.length !== 0" pager [options]="slideOptsOne" >
        <ion-slide *ngFor="let project of projects">
          <p>Owner: {{project.owner.firstName + " " + project.owner.lastName}}</p>
          <h1>{{project.title}}</h1>
          <p style="white-space:pre-wrap;">{{project.description}}</p>
          <p></p>
        </ion-slide>
      </ion-slides>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="isUserLoggedIn()">
    <ion-card-header>
      <ion-card-title>Submit your project now! Or join a friend!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button [routerDirection]="'root'" [routerLink]="['/submission']">New project</ion-button>
      <ion-button [routerDirection]="'root'" [routerLink]="['/list']">Join project</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>About Ship It Day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          <ion-label>Ship It Day (a.k.a. Exploration Days) to impreza "hackerska" (niekoniecznie programistyczna!),
            która daje Ci
            możliwość:
          </ion-label>
        </ion-list-header>
        <ion-item>- wykazania się Twoją kreatywnością</ion-item>
        <ion-item>- zrealizowania pomysłów, które od jakiegoś czasu siedzą Ci w głowie</ion-item>
        <ion-item>- wymiany doświadczeń i umiejętności z ludźmi spoza Twojego projektu</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Regulations</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>- każdy może wziąć udział w Ship It Day</ion-item>
        <ion-item>- każdy może zgłosić swój projekt, bądź chęć wsparcia już zaproponowanego pomysłu do zrealizowania w
          ramach
          wydarzenia
        </ion-item>
        <ion-item>- do realizacji jednego pomysłu wymagane są grupy maksymalnie 5-osobowe</ion-item>
        <ion-item>- do udziału w wydarzeniu wymagana jest zgoda przełożonego oraz uzgodnienie nieobecności w projekcie
        </ion-item>
        <ion-item>- w trakcie eventu przewidziany jest catering</ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
