.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
ion-slide {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  min-height: 20vh;
}
p {
  display: block;
  margin: 1em 2em 1em 2em;
}

