<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      If you don't have an account, please <a routerLink='/register'>
      register</a> first!
  </ion-card>
  <ion-card class="welcome-card">
    <img src="/assets/banner.png" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-button [routerDirection]="'root'" [routerLink]="['/submission']">Submit new project</ion-button>
      <ion-button>Join existing project</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-slides>
    <ion-slide *ngFor = "let project of projects">
      <ion-card>
        <img class="center" src="assets/shapes.svg" alt=""/>
        <ion-card-header>
          <ion-card-subtitle>Owner: {{project.owner.email}}</ion-card-subtitle>
          <ion-card-title>{{project.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{project.description}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img class="center" src="/assets/shapes.svg" alt=""/>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img class="center" src="/assets/shapes.svg" alt=""/>
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About ship IT Day</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Announcements</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
