.welcome-card {
  max-height: 50vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
}

ion-slide {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  min-height: 20vh;
}

p {
  display: block;
  margin: 1em 2em 1em 2em;
}

.title-font-size {
  font-size: 1.5rem;
}

.project-description {
  font-size: 1rem;
  white-space:pre-wrap;
}

.social-media-icon {
  font-size: 20px;
}
