<ion-card class="project-card">
    <ion-card-header>
        <ion-card-subtitle>
            <ion-text style="float:left;">Owner(s):
                <p *ngFor="let owner of projectService.listOwners(project)">
                    {{owner.firstName + " " + owner.lastName}}
                </p>
            </ion-text>
            <ion-chip style="float: right;"
                      (click)="isProjectOwner(project) && alertService.presentModifyProjectCityAlert(project)"
                      color="primary" outline>
                <ion-icon name="location" color="primary"></ion-icon>
                <ion-label>{{project.city}}</ion-label>
                <ion-icon *ngIf="isProjectOwner(project)" name="create"></ion-icon>
            </ion-chip>
        </ion-card-subtitle>
        <ion-card-title style="clear: both;">{{project.title}}
            <ion-chip *ngIf="project.confirmed" color="success" outline>
                <ion-icon name="star" color="success"></ion-icon>
                <ion-label>Selected for development</ion-label>
            </ion-chip>
            <ion-chip *ngIf="!isList && !project.verified" color="danger" outline>
                <ion-icon name="warning" color="warning"></ion-icon>
                <ion-label>Not verified yet</ion-label>
            </ion-chip>
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <div style="white-space:pre-wrap;">{{project.description}}</div>
        <ion-item-divider color="white">
        </ion-item-divider>
        <ion-card-subtitle>Technologies: {{project.technologies}}</ion-card-subtitle>
        <ion-item-divider color="white">
        </ion-item-divider>
        Members ({{projectService.countApprovedMembers(project)}}/{{project.maxMembers}}):
        <ion-chip color="primary" *ngFor="let member of projectService.listApprovedMembers(project)"
                  (click)="projectService.userIsProjectOwner(loggedInUser, project) || alertService.presentMemberOptionsAlert(project, member)">
            <ion-icon name="person"></ion-icon>
            <ion-label>{{member.firstName + " " + member.lastName}}</ion-label>
        </ion-chip>
        <ion-item-divider color="white">
        </ion-item-divider>
        <!-- custom date format:  HH:MM | d-MMM-yyyy-->
        <!-- TODO: Choose one-->
        <ion-card-subtitle>Created: {{project.created | date: 'medium'}}</ion-card-subtitle>
        <ion-card-subtitle>Created: {{project.created | date: 'HH:MM | d-MMM-yyyy'}}</ion-card-subtitle>
        <div *ngIf="!isList && projectHasRequests(project) && isProjectOwner(project)">
            <ion-item-divider color="white">
            </ion-item-divider>
            Requests:
            <ion-text *ngIf="projectService.maxMembersCapacityReached(project)" color="danger">
                Max members capacity reached!</ion-text>
            <div *ngFor="let potentialMember of listPotentialMembers(project)">
                <ion-buttons>
                    <ion-button size="small" slot="start" color="success" shape="round"
                                [disabled]="projectService.maxMembersCapacityReached(project)"
                                (click)="membershipService.acceptMembershipRequest(project, potentialMember)">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-button>
                    <ion-button size="small" slot="start" color="danger" shape="round"
                                (click)="alertService.deleteEnrollmentRequest(project, potentialMember)">
                        <ion-icon name="close"></ion-icon>
                    </ion-button>
                    {{potentialMember.user.email}}
                </ion-buttons>
            </div>
        </div>
    </ion-card-content>
    <ion-item *ngIf="isList && !membershipService.userAlreadyEnrolled(project) && isUserLoggedIn()
   && !membershipService.userEnrollmentPending(project)">
        <ion-button id="enrollButton" expand="block" (click)="sendEnrollmentRequest(project)">Enroll</ion-button>
    </ion-item>
    <ion-item *ngIf="membershipService.userEnrollmentPending(project)">
        <ion-chip color="danger" (click)="alertService.cancelEnrollmentRequest(project)" outline>
            <ion-icon name="alarm"></ion-icon>
            <ion-label>Enrollment request pending</ion-label>
            <ion-icon name="close-circle"></ion-icon>
        </ion-chip>
    </ion-item>
    <ion-button *ngIf="!isList && isProjectOwner(project)" id="modifyButton" expand="block"
                (click)="alertService.presentModifyProjectAlert(project)">Modify project
    </ion-button>
    <ion-button *ngIf="!isList && isProjectOwner(project)" id="deleteButton" expand="block"
                (click)="alertService.presentDeleteProjectAlert(project)" color="danger">Delete project
    </ion-button>
</ion-card>