<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Submit new project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Submit your project!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form #form="ngForm" (ngSubmit)="registerProject(form)">
              <ion-item>
                <ion-label position="stacked">Title</ion-label>
                <ion-input name="title" type="text" autocapitalize="sentences" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Description</ion-label>
                <ion-textarea name="description" type="text" autocapitalize="sentences" rows="8" ngModel
                              required></ion-textarea>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Technologies</ion-label>
                <ion-input name="technologies" type="text" autocapitalize="words" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Join to this project as a member</ion-label>
                <ion-checkbox name="joinAsMember" slot="end" [checked]=true [(ngModel)]="joinAsMember"></ion-checkbox>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Maximum number of team members</ion-label>
                <ion-input name="maxMembers" type="number" min="1" required ngModel="1" max="5" pattern="[0-5]"
                           oninput="this.value = Math.abs(this.value)"></ion-input>
              </ion-item>
              <ion-button id="submitButton" size="large" type="submit" [disabled]="form.invalid" expand="block">Submit
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
