<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Admin</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-spinner *ngIf="showProjectsSpinner || showUsersSpinner"></ion-spinner>
    <ion-button expand="block"
                (click)="exportEvent()" color="primary">Export event
    </ion-button>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-card-title>Unverified projects</ion-card-title>
                <ion-toggle slot="end" color="secondary" [(ngModel)]="showUnverifiedProjects"></ion-toggle>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-grid *ngIf="showUnverifiedProjects">
                <ion-row>
                    <ion-col *ngFor="let project of unverifiedProjects" size-xs="12" size-sm="12" size-md="6"
                             size-lg="6">
                        <app-project-card [project]="project" [scope]="scopeUnverified"></app-project-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-card-title>Verified projects</ion-card-title>
                <ion-toggle slot="end" color="secondary" [(ngModel)]="showVerifiedProjects"></ion-toggle>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-grid *ngIf="showVerifiedProjects">
                <ion-row>
                    <ion-col *ngFor="let project of verifiedProjects" size-xs="12" size-sm="12" size-md="6" size-lg="6">
                        <app-project-card [project]="project" [scope]="scopeVerified"></app-project-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-card-title>Confirmed projects</ion-card-title>
                <ion-toggle slot="end" color="secondary" [(ngModel)]="showConfirmedProjects"></ion-toggle>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-grid *ngIf="showConfirmedProjects">
                <ion-row>
                    <ion-col *ngFor="let project of confirmedProjects" size-xs="12" size-sm="12" size-md="6"
                             size-lg="6">
                        <app-project-card [project]="project" [scope]="scopeConfirmed"></app-project-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-card-title>Users</ion-card-title>
                <ion-toggle slot="end" color="secondary" [(ngModel)]="showUsersCard"></ion-toggle>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <ion-grid *ngIf="showUsersCard">
                <!--        <ion-segment (ionChange)="segmentChanged($event)">-->
                <!--          <ion-segment-button value="cards" checked>-->
                <!--            <ion-label>Cards</ion-label>-->
                <!--          </ion-segment-button>-->
                <!--          <ion-segment-button value="table">-->
                <!--            <ion-label>Table</ion-label>-->
                <!--          </ion-segment-button>-->
                <!--        </ion-segment>-->
                <ion-searchbar (ionChange)="onSearchChange($event)"></ion-searchbar>
                <ion-row>
                    <ion-col *ngFor="let user of users" size-xs="12" size-sm="12" size-md="6" size-lg="6">
                        <ion-card class="project-card">
                            <ion-card-header>
                                <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
                                <ion-card-title>{{user.firstName + " " + user.lastName}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <ion-item>
                                    <ion-label position="stacked">Food preferences</ion-label>
                                    <ion-input value="{{user.foodPreferences}}" readonly="true"></ion-input>
                                </ion-item>
                                <ion-item *ngIf="user.shirtSize">
                                    <ion-label position="stacked">Shirt size</ion-label>
                                    <ion-input value="{{user.shirtSize.size}}" readonly="true"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Shirt type</ion-label>
                                    <ion-input value="{{user.shirtType}}" readonly="true"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">City</ion-label>
                                    <ion-input value="{{user.city}}" readonly="true"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">I speak Polish</ion-label>
                                    <ion-checkbox value="{{user.polishSpeaker}}" [checked]="user.polishSpeaker"
                                                  [disabled]="true"></ion-checkbox>
                                </ion-item>
                            </ion-card-content>
                            <ion-button *ngIf="!authService.userHasAdminRole(user)" expand="block"
                                        (click)="alertService.presentGiveAdminRightsAlert(user)" color="primary">Give
                                admin rights
                            </ion-button>
                            <ion-button *ngIf="authService.userHasAdminRole(user)" expand="block"
                                        (click)="alertService.presentRevokeAdminRightsAlert(user)" color="warning">
                                Revoke admin rights
                            </ion-button>
                            <ion-button expand="block"
                                        (click)="alertService.presentDeleteUserAlert(user)" color="danger">Delete user
                            </ion-button>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>
