<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Create your account!
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="register(form)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">First name</ion-label>
                <p></p>
                <ion-input name="firstName" autocapitalize="words" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Last name</ion-label>
                <p></p>
                <ion-input name="lastName" autocapitalize="words" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <p></p>
                <ion-input name="email" type="email" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Password</ion-label>
                <p></p>
                <ion-input name="password" type="password" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Repeat password</ion-label>
                <p></p>
                <ion-input name="passwordConfirm" type="password" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Food preferences</ion-label>
                <p></p>
                <ion-input name="foodPreferences" ngModel></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Shirt size</ion-label>
                <ion-select name="shirtSize" ngModel required>
                  <ion-select-option *ngFor="let shirtSize of shirtSizes"
                                     [value]="shirtSize">{{shirtSize.size}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Shirt type</ion-label>
                <ion-select name="shirtType" ngModel required>
                  <ion-select-option *ngFor="let shirtType of shirtTypes"
                                     [value]="shirtType">{{shirtType}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">City</ion-label>
                <ion-select name="city" [(ngModel)]="city" required>
                  <ion-select-option *ngFor="let city of cities" [value]="city">{{city}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button (click)="checkUserLocation()">Use current location</ion-button>
              <ion-item>
                <ion-label>I speak Polish</ion-label>
                <ion-checkbox name="polishSpeaker" slot="end" [checked]=true [(ngModel)]="polishSpeaker"></ion-checkbox>
              </ion-item>
              <ion-button id="submitButton" size="large" type="submit" [disabled]="form.invalid"
                          (keydown.enter)="register(form)" expand="block">Register
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
