<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Submit new project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Submit your project!</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form #form="ngForm" (ngSubmit)="registerProject(form)">
              <ion-item>
                <ion-label position="stacked">Title</ion-label>
                <ion-input name="title" type="text" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Description</ion-label>
                <ion-input name="description" type="text" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Owner</ion-label>
                <ion-input name="owner" type="text" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Technologies</ion-label>
                <ion-input name="technologies" type="text" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Maximum team members</ion-label>
                <ion-input name="maxMembers" type="number" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Members</ion-label>
                <ion-input name="members" type="text" ngModel required></ion-input>
              </ion-item>
              <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
