<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <div *ngIf="online$ | async; else offline"></div>
            <ng-template #offline>
              <ion-chip color="warning">
                <ion-label>Offline</ion-label>
              </ion-chip>
            </ng-template>
            <ion-item *ngIf="loggedIn">
              <ion-avatar slot="start">
                <ion-img src="/assets/sampleAvatar.svg"></ion-img>
              </ion-avatar>
              <ion-label>
                <h3>{{displayName}}</h3>
                <ion-button [routerDirection]="'root'" [routerLink]="['/profile']">My profile</ion-button>
              </ion-label>
            </ion-item>
            <ion-item *ngIf="loggedIn">
              <ion-button (click)="logout()">Logout</ion-button>
<!--              <ion-button (click)="sendTestNotification()">Send notification to self</ion-button>-->
            </ion-item>
            <ion-item *ngIf="!loggedIn">
              <ion-button [routerDirection]="'root'" [routerLink]="['/login']">Login</ion-button>
              <ion-button [routerDirection]="'root'" [routerLink]="['/register']">Register</ion-button>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of publicAppPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>{{page.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of userAppPages">
            <ion-item *ngIf="loggedIn" [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>{{page.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item *ngIf="authService.userHasAdminRole(this.loggedInUser)" [routerDirection]="'root'" [routerLink]="[adminPanel.url]">
              <ion-icon slot="start" [name]="adminPanel.icon"></ion-icon>
              <ion-label>{{adminPanel.title}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
