<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="./../assets/sampleAvatar.svg"></ion-img>
            </ion-avatar>
            <ion-label>
              <h3>Name Surname</h3>
              <p>Project</p>
            </ion-label>
          </ion-item>
          <ion-menu-toggle auto-hide="false" *ngFor="let page of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[page.url]">
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              <ion-label>
                {{page.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
