// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-spinner {
  display: block;
  margin: auto;
}

.modify-project-alert .alert-wrapper {
  min-width: 50%;
  height: 50vh;

  .alert-input-group {
    height: 100vh;
    display: flex;
    flex-direction: column;

    :nth-child(2) {
      flex: 4;

      textarea {
        height: 100%;
      }
    }
  }
}