<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>My profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>My projects</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-spinner *ngIf="projects.length === 0"></ion-spinner>
      <ion-grid *ngIf="projects.length != 0">
        <ion-row>
          <ion-col *ngFor="let project of projects" size-xs="12" size-sm="12" size-md="6" size-lg="6">
            <ion-card class="project-card">
              <ion-card-header>
                <ion-card-subtitle>Owner: {{project.owner.firstName + " " + project.owner.lastName}}</ion-card-subtitle>
                <ion-card-title>{{project.title}}</ion-card-title>
                <ion-chip *ngIf="project.verified === false" color="danger" outline>
                  <ion-icon name="warning" color="warning"></ion-icon>
                  <ion-label>Not verified yet</ion-label>
                </ion-chip>
                <ion-chip *ngIf="membershipService.userEnrollmentPending(project) && !isProjectOwner(project)"
                          (click)="alertService.cancelEnrollmentRequest(project, RELOAD_DATA_EVENT_NAME)"
                          color="danger" outline>
                  <ion-icon name="alert"></ion-icon>
                  <ion-label>Enrollment request pending</ion-label>
                  <ion-icon name="close-circle"></ion-icon>
                </ion-chip>
              </ion-card-header>
              <ion-card-content>
                <div style="white-space:pre-wrap;">{{project.description}}</div>
                <ion-item-divider>
                </ion-item-divider>
                Members:{{listMembers(project)}}
                <ion-item-divider>
                </ion-item-divider>
                <ion-card-subtitle>Created: {{project.created | date: 'HH:MM | d-MMM-yyyy'}}</ion-card-subtitle>
                <div *ngIf="projectHasRequests(project) && isProjectOwner(project)">
                  <ion-item-divider>
                  </ion-item-divider>
                  Requests:
                  <div *ngFor="let potentialMember of listPotentialMembers(project)">
                    <ion-buttons>
                      <ion-button size="small" slot="start" color="success" shape="round"
                                  (click)="membershipService.acceptMembershipRequest(project, potentialMember, RELOAD_DATA_EVENT_NAME)">
                        <ion-icon name="checkmark"></ion-icon>
                      </ion-button>
                      <ion-button size="small" slot="start" color="danger" shape="round"
                                  (click)="membershipService.rejectMembershipRequest(project, potentialMember, RELOAD_DATA_EVENT_NAME)">
                        <ion-icon name="close"></ion-icon>
                      </ion-button>
                      {{potentialMember.user.email}}
                    </ion-buttons>
                  </div>
                </div>
              </ion-card-content>
              <ion-button *ngIf="isProjectOwner(project)" id="modifyButton" expand="block"
                          (click)="alertService.presentModifyProjectAlert(project, RELOAD_DATA_EVENT_NAME)">Modify project
              </ion-button>
              <ion-button *ngIf="isProjectOwner(project)" id="deleteButton" expand="block"
                          (click)="alertService.presentDeleteProjectAlert(project, RELOAD_DATA_EVENT_NAME)" color="danger">Delete project
              </ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Update my data</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form #form="ngForm" (ngSubmit)="updateUser(form)">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="stacked">First name</ion-label>
                <ion-input name="firstName" autocapitalize="words" value="{{firstName}}" [(ngModel)]="firstName"
                           required></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Last name</ion-label>
                <ion-input name="lastName" autocapitalize="words" value="{{lastName}}" [(ngModel)]="lastName"
                           required></ion-input>
              </ion-item>
              <ion-item *ngIf="shirtSize">
                <ion-label position="stacked">Shirt size</ion-label>
                <ion-select name="shirtSize" value="{{shirtSize}}" [(ngModel)]="shirtSize"
                            [compareWith]="compareShirtSizes" required>
                  <ion-select-option *ngFor="let shirtSize of shirtSizes"
                                     [value]="shirtSize">{{shirtSize.size}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Shirt type</ion-label>
                <ion-select name="shirtType" value="{{shirtType}}" [(ngModel)]="shirtType" required>
                  <ion-select-option *ngFor="let shirtType of shirtTypes"
                                     [value]="shirtType">{{shirtType}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button id="submitButton" type="submit" [disabled]="form.invalid">Update</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
