<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Board</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-card>
      <ion-card-content>
        <form #form="ngForm" (ngSubmit)="registerComment(form)">
          <ion-item *ngIf="authService.userHasAdminRole(this.loggedInUser)">
            <ion-checkbox name="announcement" slot="end" [checked]=false [(ngModel)]="announcement"></ion-checkbox>
            <ion-label>Announcement</ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Content</ion-label>
            <ion-input name="content" type="text" autocorrect="on" ngModel required
            ></ion-input>
          </ion-item>
          <ion-button id="submitButton" type="submit" [disabled]="form.invalid" expand="block">Submit
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-spinner *ngIf="showCommentsSpinner"></ion-spinner>
  <ion-grid>
    <ion-row *ngFor="let comment of comments">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-button *ngIf="comment.announcement" disabled="true" color="danger">ANNOUNCEMENT</ion-button>
            <ion-item>{{comment.content}}</ion-item>
            <ion-item>
              <ion-card-subtitle>{{comment.author.firstName + " " + comment.author.lastName}}
                , {{comment.created | date: 'medium'}}</ion-card-subtitle>
              <ion-button *ngIf="loggedInUserIsAuthor(comment) || authService.userHasAdminRole(this.loggedInUser)"
                          fill="clear" slot="end" color="danger"
                          (click)="alertService.presentDeleteCommentAlert(comment)">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-card-content>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
