<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="projects.length === 0"></ion-spinner>
  <ion-grid *ngIf="projects.length != 0">
    <ion-row>
      <ion-col *ngFor="let project of projects" size-xs="12" size-sm="12" size-md="6" size-lg="4">
        <ion-card class="project-card">
          <ion-card-header>
            <ion-card-subtitle>Owner: {{project.owner.firstName + " " + project.owner.lastName}}</ion-card-subtitle>
            <ion-card-title>{{project.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div style="white-space:pre-wrap;">{{project.description}}</div>
            <ion-item-divider>
            </ion-item-divider>
            Members: {{listMembers(project)}}
            <ion-item-divider>
            </ion-item-divider>
            <!-- custom date format:  HH:MM | d-MMM-yyyy-->
            <ion-card-subtitle>Created: {{project.created | date: 'medium'}}</ion-card-subtitle>
          </ion-card-content>
          <ion-item *ngIf="!alreadyEnrolled(project) && isUserLoggedIn()">
            <ion-button id="enrollButton" expand="block" (click)="enroll(project)">Enroll</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
