<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let project of projects" size="12" size-sm>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Owner: {{project.owner.firstName + " " + project.owner.lastName}}</ion-card-subtitle>
            <ion-card-title>{{project.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{project.description}}
          </ion-card-content>
          <ion-card-subtitle>Created: {{project.created}}</ion-card-subtitle> <!-- TODO: Convert to readable time and date-->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
